.invoice {
  margin-top: 3rem;
  padding: 30px 20px;
}

.invoice input {
  margin: 8px 0;
  box-shadow: var(--box-shadow) !important;
}

.invoice .add-invoice {
  margin-top: 2rem;
}

.invoice .add-invoice .add-remove-btn {
  margin-top: 1rem;
  display: flex;
}

.invoice .add-invoice .add-remove-btn button {
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 10px;
  padding: 17px 10px;
}

/* .invoice .add-invoice .add-remove-btn button svg {
  margin-right: 8px;
  font-size: 2em;
} */

.invoice .add-invoice .add-remove-btn button:nth-child(1) {
  margin-right: 5px;
  background-color: #ff304f;
  color: #fff;
}

.invoice .add-invoice .add-remove-btn button:nth-child(2) {
  margin-right: 5px;
  background-color: #2cb978;
  color: #fff;
}

.invoice .notes {
  margin-top: 2rem;
}

.invoice .notes button {
  margin-top: 10px;
}

.invoice .notes .row-inputs {
  display: flex;
  align-items: center;
}

.invoice .notes .row-inputs p {
  width: 50%;
  font-weight: bold;
}

.invoice .notes .row-inputs input {
  width: 70%;
  /* display: flex; */
  /* justify-content: flex-end; */
}
